@import url(font.css);
.bgWhite {
  background-color: #fff;
}

/*@import url(reset.css);*/

/*Reset Boder Radius Button*/
.btn, .btn-large, .btn-small, .btn-mini, .btn-block  {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}
/*Reset*/ 
input, textarea {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}
/*Bootstrap FIX*/
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  padding: 7px 4px 3px;
  margin-bottom: 3px;
  font-size: 12px;
  color: #333;
  line-height: 17px;
}
label {
  font-size: 12px;
  margin-bottom: 0;
}

td {
  vertical-align: top;
}

/*Start CSS*/
body {
    font-family: 'RobotoRegular', sans-serif;
    font-size: 12px;
    color: #000;
    margin: 0;
    /*background-image: url(../images/bg.png);*/
    background-color: #eee;
    background-position: 0 0;
}
a, a:active, a:visited {
    color: #59ac00;
    text-decoration: none;
}
a:hover {
    color: #000;
    text-decoration: none
}

.warp {
  width: 1000px;
  background-image: url(../images/bg-shadow.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  margin: 0 auto;
  overflow: hidden;
}
.bgHead1 {
  background-color: #fff;
}
.topHeadText {
  font-family: 'db_helvethaica_x55_regular', sans-serif;
  font-size: 18px;
  color: #000;
  padding: 7px 10px 7px 10px;
}
.textMainPadding {
  padding: 7px 10px 7px 10px;
}
.datimeTop {
  padding: 10px 10px 7px 10px;
}
.logoutBg {
  background-color: #000;
  border-radius: 0;
  font-size: 18px;
  font-weight: normal;
  margin-left: 10px;
  padding: 5px;
}
.topHeadText b {
  color: #59ac00;
  font-weight: 400;
}
.logoutBg i {
  font-size: 14px;
  margin: 0 5px;
}
.logoutBg a {
  color: #FFF;
}


/*MENU NAV*/
/*ul.navMenu {
  background-color: #dd4435;
  background-image: linear-gradient(bottom, rgb(221,66,52) 11%, rgb(251,104,91) 78%);
  background-image: -o-linear-gradient(bottom, rgb(221,66,52) 11%, rgb(251,104,91) 78%);
  background-image: -moz-linear-gradient(bottom, rgb(221,66,52) 11%, rgb(251,104,91) 78%);
  background-image: -webkit-linear-gradient(bottom, rgb(221,66,52) 11%, rgb(251,104,91) 78%);
  background-image: -ms-linear-gradient(bottom, rgb(221,66,52) 11%, rgb(251,104,91) 78%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.11, rgb(221,66,52)),
    color-stop(0.78, rgb(251,104,91))
  );
  padding-left: 0;
  margin-left: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
ul.navMenu li {
  display: inline-block;
}
ul.navMenu li a {
  display: inline-block;
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 10px;
  color: #FFF;
  font-family: 'ubuntumedium', sans-serif;
  text-transform: uppercase;
  font-size: 13px;
}
ul.navMenu li a:hover {
  background-color: #dd4435;
}*/

.breadcrumb {
  margin: 0 0 5px;
  text-transform: uppercase;
}

.footer {
  height: 150px;
  font-family: 'db_helvethaica_x55_regular', sans-serif;
  font-size: 18px;
  line-height: 18px;
}
.footer span {
  font-size: 22px;
  font-family: 'db_helvethaica_x65_med', sans-serif;
}
.textFooter {
  margin-top: 30px;
  border-top: 1px solid #CCC;
  padding-top: 30px;
  color: #999;
}
.textFooter span {
  color: #59ac00;
}
.logoFooter {
  margin-top: 60px;
}

h1.topTitle {
  font-family: 'ubuntulight', sans-serif;
  font-size: 2em;
  padding: 0 0 8px 0;
  margin: 0 0 15px 0;
  color: #000;
  text-transform: uppercase;
  border-bottom: 3px solid #59ac00;
}
h1.topTitle b {
  font-family: 'db_helvethaica_x45_li', sans-serif;
  font-size: 1.5em;
}
.subjectText {
  padding-top: 12px;
  padding-right: 15px;
}
.widthInput {
  width: 35%;
}


/*MODAL*/
h3.titleModal {
  font-family: 'db_helvethaica_x45_li', sans-serif;
  font-size: 32px;
}
.imgPrize {
  width: 80px;
  height: 80px;
}
.titlemodalPrize {
  font-family: 'db_helvethaica_x45_li', sans-serif;
  font-size: 26px;
  color: #5FBE27;
  line-height: 22px;
}
.idprize {
  font-family: 'db_helvethaica_x45_li', sans-serif;
  font-size: 20px;
  color: #000;
}



/*GRID TABLE*/
thead tr {
  background-color: #59ac00;
  color: #FFF;
  font-family: 'db_helvethaica_x55_regular', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}
thead tr td {
  border-bottom: 4px #4c9200 solid;
}
.iconOption {
  display: block;
  white-space: nowrap;
}
.iconOption i {
 /* margin-right: 3px;*/
} 
.iconOption a {
  color: #FFF;
}
.pagination {
  margin: 5px 0 20px 0;
}

.alert h4 {
  display: block;
  padding-left: 35px;
  font-size: 16px;
}
.alert span {
  padding-left: 35px;
  display: inline;
}
.alert i {
  float: left;
  margin-right: 10px;
}
.gridcontent {
  margin-bottom: 30px;
}
.widthCol {
  width: 15%
}


/*TAB*/ 
.nav-tabs {
  border-bottom: 4px solid #59ac00;
}
.nav-tabs > li > a {
  font-family: 'db_helvethaica_x45_li', sans-serif;
  font-size: 20px;
  border-top: 4px #FFF solid;
}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
  background-color: #59ac00;
  color: #FFF;
  border-color: transparent;
  border-top: 3px #4c9200 solid;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  background-color: #EEE;
  color: #555;
  border-color: transparent;
  border-top: 3px #DDD solid;
}

/*FIX RADIO*/
table.radioStyle label {
    display: inline-block;
    margin-left: 5px;
    margin-right: 20px;
}
table.radioStyle td input[type="radio"] {
    margin: 0px 0 0;
}
/*FIX CHECKBOX*/
table.checkboxStyle label {
    display: inline-block;
    margin-left: 5px;
    margin-right: 20px;
}
table.checkboxStyle td input[type="checkbox"] {
    margin: 0px 0 0;
}

/*.btn-danger {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #59ac00;
  *background-color: #59ac00;
  background-image: -moz-linear-gradient(top, #59ac00, #4c9200);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#59ac00), to(#4c9200));
  background-image: -webkit-linear-gradient(top, #59ac00, #4c9200);
  background-image: -o-linear-gradient(top, #59ac00, #4c9200);
  background-image: linear-gradient(to bottom, #59ac00, #4c9200);
  background-repeat: repeat-x;
  border-color: #59ac00 #4c9200 #4c9200;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff59ac00', endColorstr='#ff4c9200', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  color: #ffffff;
  background-color: #4c9200;
  *background-color: #4c9200;
}*/